<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css ">
  <title>Gri stages</title>
</head>

<body>
  <nav>
    <img src="../img/Logo-GRI-300-fond-transparent.png" alt="gri-logo" width="140" height="79">
    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="servises.html">Services</a></li>
      <li><a href="information.html">Informations</a></li>
      <li><a href="inscrire.html">Inscription</a></li>
    </ul>
  </nav>
  <div class="banner">
    <div class="btns">
      <button class="glow-on-hover">Offres</button>
      <button class="glow-on-hover-2">S'inscrire</button>
    </div>
  </div>





  <h1 class="titre-1">Rejoins l’avenir de l’informatique avec nous !</h1>
  <div class="container-acc">
    <div class="p-acc-01">
      <p class="par-1">Bienvenue sur Gri Stage, votre plateforme dédiée à l’apprentissage et au perfectionnement en
        développement informatique. Ce site a été conçu pour les stagiaires curieux, motivés et passionnés par le monde
        du
        numérique.</p><br>
    </div>

    <div class="p-acc-02">
      <p class="par-2">Dès votre arrivée, vous trouverez ici des ressources pratiques sur les langages de programmation,
        les outils de développement modernes, les bonnes pratiques en conception web, ainsi que des guides et tutoriels
        adaptés à votre niveau.</p>
    </div><br>

    <div class="p-acc-03">
      <p class="par-3">Gri Stage vous accompagne tout au long de votre parcours avec une approche structurée et
        enrichissante, pour faire de votre stage une véritable expérience d’évolution technique et professionnelle.</p>
    </div><br>

  </div>
  <div class="but-3">
          <button class="glow-on-hover-3">S'inscrire</button>

  </div>


  <footer>
    <div class="container-footer">
      <div class="col autures">
        <p>Havana Al-Ali</p>
        <p>Bismellah HASHIMI</p>
        <p>Version: 1.0</p>
      </div>

      <div class="col copie">
        <p>© Copyright 2019 - 2025</p>
        <p>Groupement romand de l'informatique</p>
        <p>ALL RIGHTS RESERVED</p>
      </div>

      <div class="col-gri">
        <p class="par-phon">Tél: ++41 21 652 30 70</p>
        <a href="mailto:gri@gri.ch" class="mail">Email: gri@gri.ch</a>
        <p class="addresse">Adresse: En Chamard 41A 1442 Montagny</p>
      </div>

    </div>
  </footer>

</body>

</html>