<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css ">
  <title>Gri stages</title>
</head>

<body>

  <ul>
    <li><a class="active" href="index.html">Home</a></li>
    <li><a href="servises.html">Servises</a></li>
    <li><a href="information.html">Informations</a></li>
    <li><a href="inscrire.html">Inscription</a></li>
  </ul>
  <h1 class="titre-1">Rejoins l’avenir de l’informatique avec nous !</h1>
  <p class="par-1">Bienvenue sur Gri Stage, votre plateforme dédiée à l’apprentissage et au perfectionnement en
    développement informatique. Ce site a été conçu pour les stagiaires curieux, motivés et passionnés par le monde du
    numérique. Dès votre arrivée, vous trouverez ici des ressources pratiques sur les langages de programmation, les
    outils de développement modernes, les bonnes pratiques en conception web, ainsi que des guides et tutoriels adaptés
    à votre niveau. Gri Stage vous accompagne tout au long de votre parcours avec une approche structurée et
    enrichissante, pour faire de votre stage une véritable expérience d’évolution technique et professionnelle.</p>
  <h1 class="titre-2">Accès rapide aux opportunités</h1>
  <p class="par-1">pensé pour vous offrir une navigation fluide et instantanée vers les offres de stage disponibles. Que
    vous soyez à la recherche d’une mission axée sur le développement web, la cybersécurité, l’intelligence artificielle
    ou la gestion de projet informatique, vous trouverez ici un aperçu clair et organisé des postes proposés. Grâce à ce
    point d’entrée stratégique, chaque stagiaire peut découvrir les opportunités actuelles, consulter les détails
    techniques, postuler directement ou planifier un entretien. Gagnez du temps, explorez vos options, et faites évoluer
    votre carrière dès aujourd’hui avec Gri Stage.</p>
  <img src="../img/Blue Dark Stage Lighting Modern We're Closed Instagram Post.png" alt="informaticien" srcset=""
    width="700" height="500" class="image-1">
  <footer>
    <div class="container-footer">
      <div class="col autures">
        <p>Havana Al-Ali</p>
        <p>Bismellah HASHIMI</p>
        <p>Version: 1.0</p>
      </div>

      <div class="col copie">
        <p>© Copyright 2019 - 2025</p>
        <p>Groupement romand de l'informatique</p>
        <p>ALL RIGHTS RESERVED</p>
      </div>

      <div class="col-gri">
        <p class="par-phon">Tél: ++41 21 652 30 70</p>
        <a href="mailto:gri@gri.ch" class="mail">Email: gri@gri.ch</a>
        <p class="addresse">Adresse: En Chamard 41A 1442 Montagny</p>
      </div>

    </div>
  </footer>

</body>

</html>