<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css ">
  <title>Gri stages</title>
</head>

<body>
  <nav>
    <img src="../img/Logo-GRI-300-fond-transparent.png" alt="gri-logo" width="140" height="79">
    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="offres.html">Offres</a></li>
      <li><a href="information.html">Informations</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="inscrire.html">Inscription</a></li>
    </ul>
  </nav>
  <div class="container-2">
    <div class="bloc-1">
      <h1>Brève Introduction</h1>
      <h4>Donnez un coup d’accélérateur à votre carrière !</h4>
      <p>Le programme GRIStage propose une opportunité unique pour les étudiants et jeunes diplômés de s’immerger dans
        un environnement professionnel stimulant, au sein de notre organisation engagée dans l'innovation, la recherche
        et l'impact social.
        Que vous soyez en fin de cycle universitaire ou tout juste diplômé, ce stage peut être votre tremplin
        professionnel.</p>
    </div>
    <div class="bloc-2">
      <h1>Qui peut participer ?</h1>
      <ul>
      <li>Étudiants en fin de cycle (Licence 3, Master 1 ou 2, écoles d’ingénieurs ou de commerce)</li>
      <li>Jeunes diplômés (moins d’un an après l’obtention du diplôme)</li>
      <li>Motivés, curieux, et intéressés par les thématiques de recherche, d’innovation ou de gestion de projet</li>
    </ul>
  </div>
  <div class="docs">
    <h1>Documents à fournir</h1>
    <ul>
      <li>CV à jour</li>
      <li>Lettre de motivation personnalisée</li>
      <li>Relevés de notes académiques</li>
      <li>Lettre(s) de recommandation (facultatif)</li>
    </ul>
  </div>
    <div class="bloc-3">
      <h1>Besoin d’informations ou prêt à postuler ?</h1>
      <h3>Contactez-nous :</h3>
        <a href="mailto:gri@gri.ch">Email: gri@gri.ch</a>
      <p>  téléphone : +41 21 652 30 70</p>
      <p>Adresse : En Chamard 41A, 1442 Montagny</p>
      <p>Nous sommes impatients de vous accueillir dans notre programme GRIStage et de vous accompagner dans le
        développement de vos compétences professionnelles.</p>
    </div>
  </div>
   <div class="but-3">
    <a href="../view/inscrire.html">
      <button class="glow-on-hover-2">S'inscrire</button>
    </a>
  </div>
  <footer>
    <div class="container-footer">
      <div class="col autures">
        <p>Havana Al-Ali</p>
        <p>Bismellah HASHIMI</p>
        <p>Version: 1.0</p>
      </div>

      <div class="col copie">
        <p>© Copyright 2019 - 2025</p>
        <p>Groupement romand de l'informatique</p>
        <p>ALL RIGHTS RESERVED</p>
      </div>

      <div class="col-gri">
        <p class="par-phon">Tél: ++41 21 652 30 70</p>
        <a href="mailto:gri@gri.ch" class="mail">Email: gri@gri.ch</a>
        <p class="addresse">Adresse: En Chamard 41A 1442 Montagny</p>
      </div>
    </div>
  </footer>




</body>

</html>