<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css ">
    <title>Gri stages</title>
</head>
<body>
    
 <ul>
    <li><a class="active" href="index.html">Home</a></li>
    <li><a href="servises.html">Servises</a></li>
    <li><a href="information.html">Informations</a></li>
    <li><a href="inscrire.html">Inscription</a></li>
  </ul>
<h1 class="titre-1">Rejoins l’avenir de l’informatique avec nous !</h1>
<p class="par-1">Nous accueillons les talents numériques en herbe pour des stages enrichissants et orientés projet.</p>
<footer>
   <div class="container-footer">
    <div class="col autures">
      <p>Havana Al-Ali</p>
      <p>Bismellah HASHIMI</p>
      <p>Version: 1.0</p>
    </div>

    <div class="col copie">
      <p>© Copyright 2019 - 2025</p>
      <p>Groupement romand de l'informatique</p>
      <p>ALL RIGHTS RESERVED</p>
    </div>

    <div class="col-gri">
      <p class="par-phon">Tél: ++41 21 652 30 70</p>
      <a href="mailto:gri@gri.ch" class="mail">Email: gri@gri.ch</a>
      <p class="addresse">Adresse: En Chamard 41A 1442 Montagny</p>
    </div>

  </div>
</footer>




</body>
</html>